html, body {
    height: 100%;
}

body {
    margin: 0;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.content img {
    max-width: 100%;
}
